body {
    margin: 0;
}

header {
    display: flex;
    height: 70px;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}

.logo-img {
    display: flex;
    height: 50px;
    padding-right: 12px;
}

.nombre-trabajo {
    justify-content: center;
    margin: 0 auto;
    color: white;
}

.tg {
    border-collapse:collapse;
    border-spacing:0;
    margin: 0 auto ;
}

td {
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

th {
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

tr {
    text-align:center;
}

.tg-0pky {
    border-color:inherit;
    text-align:left;
    vertical-align:top
}

.chad-img {
    height: 100px;
}

.fideo-img {
    height: 100px;
}

.berp {
    height: 100px;
}

.Luffy-img {
    height: 100px;
}


.chad-img:hover {
    filter: grayscale(80%);
}

.fideo-img:hover {
    filter: grayscale(80%);
}

.Luffy-img:hover {
    filter: grayscale(80%);
}

.berp:hover {
    filter: grayscale(80%);
}

@keyframes vibrar {
    0% { transform: translate(0, 0) rotate(0deg); }
    20% { transform: translate(-10%, -10%) rotate(-3deg); }
    40% { transform: translate(10%, 10%) rotate(3deg); }
    60% { transform: translate(-10%, -10%) rotate(-3deg); }
    80% { transform: translate(10%, 10%) rotate(3deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

.logo-img:hover{
    animation: vibrar 0.8s linear;
    animation-iteration-count: infinite;
}
